<!--<!DOCTYPE html>
{% load static %}


<html>
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'base_app/css/grides.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base_app/css/stylesss-conss.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'base_app/css/normalizees.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap"
          rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <title>Hope: Votre Prévention et lutte contre le Cancer du sein</title>
</head>
<body>

&lt;!&ndash;Nav Bar &ndash;&gt;

<header>
    <nav class="row">
        <div>
            <a href="#"><img src="{% static 'base_app/img/logo1.png' %}" alt="hope logo" class="logo"></a>
            <ul class="main-nav">

                <li><a href="{% url 'accueil' %}">Acceuil</a></li>
                <li><a href="{% url 'accueil' %}">Informations</a></li>
                <li><a href="{% url 'accueil' %}">Contact</a></li>
                <li><a href="{% url 'deconnecter' %}">Se deconnecter</a></li>
                <li><a href="#">Bienvenue, {{ user.username }} </a></li>

            </ul>
        </div>
    </nav>
</header>
<br><br><br>
&lt;!&ndash; POSTS &ndash;&gt;
<section id="posts">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="col-md-15">
                    <h2 class="text-left"> Identité Patient </h2>
                    <h4>Nom : {{user.patient.nom}}</h4>
                    <h4>Prénom : {{user.patient.prénom}}</h4>
                    <h4> CIN : {{user.patient.cin}}</h4>
                    <h4>Quartier : {{user.patient.quartier}}</h4>
                </div>

            </div>
            &lt;!&ndash;{% for sts in st %}

              {{sts.nom}}<br>{{sts.prénom}}<br>{{sts.cin}}<br> {{sts.quartier}}

                {% endfor %}&ndash;&gt;
        </div>
    </div>


</section>-->

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title> Smart Bra App</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>
    {% load staticfiles %}
    <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <title> Smart Bra App</title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="{% static 'plugins/fontawesome-free/css/all.min.css' %}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{% static 'dist/css/adminlte.min.css' %}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>
<div class="hold-transition sidebar-mini">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="{% url 'Connection_Patient' %}" class="nav-link">Home</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Contact</a>
                </li>
            </ul>

            <!-- SEARCH FORM -->
            <form class="form-inline ml-3">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" type="search" placeholder="Search"
                           aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-navbar" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>

            <!-- Right navbar links -->
            <ul class="navbar-nav ml-auto">
                <!-- Messages Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-comments"></i>
                        <span class="badge badge-danger navbar-badge">3</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="{%static 'dist/img/user1-128x128.jpg'%}" alt="User Avatar"
                                     class="img-size-50 mr-3 img-circle">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Brad Diesel
                                        <span class="float-right text-sm text-danger"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">Call me whenever you can...</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="{%static 'dist/img/user8-128x128.jpg'%}" alt="User Avatar"
                                     class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        John Pierce
                                        <span class="float-right text-sm text-muted"><i class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">I got your message bro</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <!-- Message Start -->
                            <div class="media">
                                <img src="{%static 'dist/img/user3-128x128.jpg'%}" alt="User Avatar"
                                     class="img-size-50 img-circle mr-3">
                                <div class="media-body">
                                    <h3 class="dropdown-item-title">
                                        Nora Silvester
                                        <span class="float-right text-sm text-warning"><i
                                                class="fas fa-star"></i></span>
                                    </h3>
                                    <p class="text-sm">The subject goes here</p>
                                    <p class="text-sm text-muted"><i class="far fa-clock mr-1"></i> 4 Hours Ago</p>
                                </div>
                            </div>
                            <!-- Message End -->
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Messages</a>
                    </div>
                </li>
                <!-- Notifications Dropdown Menu -->
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#">
                        <i class="far fa-bell"></i>
                        <span class="badge badge-warning navbar-badge">15</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                        <span class="dropdown-header">15 Notifications</span>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-envelope mr-2"></i> 4 new messages
                            <span class="float-right text-muted text-sm">3 mins</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-users mr-2"></i> 8 friend requests
                            <span class="float-right text-muted text-sm">12 hours</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item">
                            <i class="fas fa-file mr-2"></i> 3 new reports
                            <span class="float-right text-muted text-sm">2 days</span>
                        </a>
                        <div class="dropdown-divider"></div>
                        <a href="#" class="dropdown-item dropdown-footer">See All Notifications</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button"><i
                            class="fas fa-th-large"></i></a>
                </li>
            </ul>
        </nav>
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            {% csrf_token %}
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="{%static 'dist/img/logo1.png'%}" alt="AdminLTE Logo"
                     class="brand-image img-circle elevation-3"
                     style="opacity: 3">
                <span class="brand-text font-weight-light">Smart Bra App</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img class="img-size-50 img-circle mr-3" src="{{request.user.medecin.picture.url}}">
                    </div>
                    <div class="info">
                        <li><a href="#"> Dr.{{ user.username }} </a></li>
                    </div>
                </div>

                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                        data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->
                        <li class="nav-item has-treeview menu-open">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fas fa-tachometer-alt"></i>
                                <p>
                                <p>
                                    Pages
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link active">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Historique View</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="far fa-circle nav-icon"></i>
                                        <p>Other</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-th"></i>
                                <p>
                                    Simple Link
                                    <span class="right badge badge-danger">New</span>
                                </p>
                            </a>
                        </li>
                    </ul>
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>
        <div class="content-wrapper">
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">Early Breast Cancer Detection</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="{% url 'Connection_Doctor' %}">Home</a></li>
                                <li class="breadcrumb-item active">Early Breast Cancer Detection</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <div class="content">
                <div class="container-fluid">

                    <center>

                        <form method="get">
                            {{data.form}}
                            <input class="col-lg-1" type="submit" value="Search" name="com" id="btn_show">
                        </form>

                    </center>

                    <div class="row">

                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <center>
                                        <h4>Date 1</h4>
                                    </center>

                                </div>
                                {%for image_data in imag_data%}
                                {{image_data.Data_img}}
                                {%endfor%}
                                <div class="card-body">
                                    <div id="chartContainer" style="height: 320px; width:100%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="card">
                                <div class="card-header">
                                    <center>

                                        <h4>Date 1</h4>

                                    </center>

                                    {{id_consultation.form}}

                                </div>
                                <div class="card-body">
                                    <img src="" id="ELOUERGHI"/>
                                    <div id="show_images" style="height: 290px; width:100%;"></div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="card card-primary card-outline">
                                <div class="card-header">
                                    <h5 class="m-0">Commentaire</h5><br>
                                    <textarea cols="144" rows="5"></textarea>
                                </div>
                                <div class="card-body">
                                    <div class="card-body p-0">

                                    </div>
                                </div><!-- /.card -->
                                <a href="{% url 'Connection_Doctor' %}" class="btn btn-primary">Send</a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
            <div class="p-3">
                <h5>Title</h5>
                <p>Sidebar content</p>
            </div>
        </aside>
    </div>
    <footer class="main-footer">
        <div class="float-right d-none d-sm-inline">
            Smart Bra App
        </div>
        <center>
            <strong> 2021-2022 <a href="https://linkedin.com/in/achraf-elouerghi-375baa120">EL-OUERGHI E2SN
                Team </a>.</strong> All rights reserved.
        </center>
    </footer>
</div>
</div>
<script src="{% static 'plugins/jquery/jquery.min.js'%}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'dist/js/adminlte.min.js'%}"></script>
<script>

$("#btn_show").click(function(){
    com=$("#comport").val();
    fill_graph_sensor(com);
    image_traiter();
});


function fill_graph_sensor(){

    var dps = [] ; // dataPoints
    var dps1 = []; // dataPoints
    var dps2 = []; // dataPoints
    var dps3 = []; // dataPoints
    var dps4 = []; // dataPoints
    var dps5 = []; // dataPoints
    var dps6 = []; // dataPoints
    var dps7 = []; // dataPoints
    var dps8 = []; // dataPoints
   var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	title: {
		text: "Live Data"
	},
	axisX: {
		title: "Time"
	},
	axisY: {
		title: "Temperature (in °C)",
		suffix: " °C"
	},
	data: [{
		type: "line",
		name: "Sensor 1",
		showInLegend: true,
		connectNullData: true,
		//nullDataLineDashType: "solid",
		xValueType: "dateTime",
		xValueFormatString: "DD MMM hh:mm TT",
		yValueFormatString: "#0.## °C",
		dataPoints: dps
	},
	{
		type: "line",
		name: "Sensor 2",
		showInLegend: true,
		connectNullData: true,
		//nullDataLineDashType: "solid",
		xValueType: "dateTime",
		xValueFormatString: "DD MMM hh:mm TT",
		yValueFormatString: "#0.## °C",
		dataPoints: dps1
	},
	{
		type: "line",
		name: "Sensor 3",
		showInLegend: true,
		connectNullData: true,
		//nullDataLineDashType: "solid",
		xValueType: "dateTime",
		xValueFormatString: "DD MMM hh:mm TT",
		yValueFormatString: "#0.## °C",
		dataPoints: dps2
	},
	{
		type: "line",
		name: "Sensor 4",
		showInLegend: true,
		connectNullData: true,
		//nullDataLineDashType: "solid",
		xValueType: "dateTime",
		xValueFormatString: "DD MMM hh:mm TT",
		yValueFormatString: "#0.## °C",
		dataPoints: dps3
	},
	{
		type: "line",
		name: "Sensor 5",
		showInLegend: true,
		connectNullData: true,
		//nullDataLineDashType: "solid",
		xValueType: "dateTime",
		xValueFormatString: "DD MMM hh:mm TT",
		yValueFormatString: "#0.## °C",
		dataPoints: dps4
	},
	{
		type: "line",
		name: "Sensor 6",
		showInLegend: true,
		connectNullData: true,
		//nullDataLineDashType: "solid",
		xValueType: "dateTime",
		xValueFormatString: "DD MMM hh:mm TT",
		yValueFormatString: "#0.## °C",
		dataPoints: dps5
	},
	{
		type: "line",
		name: "Sensor 7",
		showInLegend: true,
		connectNullData: true,
		//nullDataLineDashType: "solid",
		xValueType: "dateTime",
		xValueFormatString: "DD MMM hh:mm TT",
		yValueFormatString: "#0.## °C",
		dataPoints: dps6
	},
	{
		type: "line",
		name: "Sensor 8",
		showInLegend: true,
		connectNullData: true,
		//nullDataLineDashType: "solid",
		xValueType: "dateTime",
		xValueFormatString: "DD MMM hh:mm TT",
		yValueFormatString: "#0.## °C",
		dataPoints: dps7
	},
	{
		type: "line",
		name: "Sensor 9",
		showInLegend: true,
		connectNullData: true,
		//nullDataLineDashType: "solid",
		xValueType: "dateTime",
		xValueFormatString: "DD MMM hh:mm TT",
		yValueFormatString: "#0.## °C",
		dataPoints: dps8
	}]
});
}

var xVal = 0;
var yVal = 150;
var updateInterval = 50;
var dataLength = 500; // number of dataPoints visible at any point

var updateChart = function () {
    $.ajax({
            type:"get",
            url: "{% url 'fetch_saved_sensor_values_ajax' %}",
            success: function(data) {
                console.log(qs_json);
            }

     });
}


var renderData = function(data_line){

    for(index = 0; index < data_line.length; index++) {
        var str_array = data_line[index].split(',');
        dps.push({ x: Date.parse(str_array[9]),y: Number(str_array[0]) });

        var str_array = data_line[index].split(',');
        dps1.push({x: Date.parse(str_array[9]),y: Number(str_array[1])  });

        var str_array = data_line[index].split(',');
        dps2.push({x: Date.parse(str_array[9]),y: Number(str_array[2])  });

        var str_array = data_line[index].split(',');
        dps3.push({x: Date.parse(str_array[9]),y: Number(str_array[3])  });

        var str_array = data_line[index].split(',');
        dps4.push({x: Date.parse(str_array[9]),y: Number(str_array[4])  });

        var str_array = data_line[index].split(',');
        dps5.push({x: Date.parse(str_array[9]),y: Number(str_array[5])  });

        var str_array = data_line[index].split(',');
        dps6.push({x: Date.parse(str_array[9]),y: Number(str_array[6])  });

        var str_array = data_line[index].split(',');
        dps7.push({x: Date.parse(str_array[9]),y: Number(str_array[7])  });

        var str_array = data_line[index].split(',');
        dps8.push({x: Date.parse(str_array[9]),y: Number(str_array[8])  });
       }



	if (dps.length > dataLength)  {dps.shift()  ;}
    if (dps1.length > dataLength) {dps1.shift(); }
    if (dps2.length > dataLength) {dps2.shift(); }
    if (dps3.length > dataLength) {dps3.shift(); }
    if (dps4.length > dataLength) {dps4.shift(); }
    if (dps5.length > dataLength) {dps5.shift(); }
    if (dps6.length > dataLength) {dps6.shift(); }
    if (dps7.length > dataLength) {dps7.shift(); }
    if (dps8.length > dataLength) {dps8.shift(); }
	chart.render();
}


updateChart(dataLength);

</script>
</body>
</html>
