{% load static%}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/grid.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	 <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,300&display=swap" rel="stylesheet"> 

	<title>Hope: Votre Prévention et lutte contre le Cancer du sein</title>
</head>
<body>

	<!--Nav Bar -->
	<header>
		<nav class="row">
			<div>
				<a href="#"><img src="css/img/logo1.png" alt="hope logo" class="logo"></a>
				<ul class="main-nav">
					<li> <a href="#acceuil">Acceuil</a></li>
					<li> <a href="#information">Informations</a> </li>
					<li> <a href="#contact">Contact</a>   </li>
					<li> <a href="connection.html">Se Connecter</a></li>
				</ul>
			</div>
		</nav>
	<!-- Background Image + Titre + 2 Buttons-->
		<div class="hero-text-box">
			<h1> Prévention <br> et lutte contre le Cancer du sein.</h1>
			<a class="btn btn-full" href="connection.html"> Se Connecter </a>
			<a class="btn btn-ghost" href="inscription.html"> S'inscrire </a>
		</div>
	</header>

	<!--Section 1: Information 01 + Service  -->
	<section class="section-info1" id="information">

		<div class="row" id="cancer">
			<h2> Le cancer du sein touche une femme sur huit dans le monde </h2>
			<p class="long-copy">
				Le cancer est la première cause de mortalité chez les femmes, Une prise en charge précoce permet d'améliorer significativement le pronostic.
			</p>
		</div>

		<div class="row">

			<div class="col span-1-of-3 box">
				<i>	<img src="css/img/online-icon.png" class="icon" /></i>
				<h3> 100% En Ligne </h3>
				<p>
				</p>
			</div>

			<div class="col span-1-of-3 box">
				<i><img src="css/img/fast-icon.png" class="icon" /></i>
				<h3> Rapide </h3>
				<p>
					<!--!Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod empor incididunt ut labore et dolore magna aliqua-->
				</p>
			</div>

			<div class="col span-1-of-3 box">
				<i><img src="css/img/secure-icon.png" class="icon" /></i>
				<h3> Sécurisé </h3>
				<p>
				</p>
			</div>
	</section>


	<!--Section 2: infotmation 02  -->

	<section class="section-info2">

		<ul class="cancer-images">
			<li class="col span-1-of-4">
				<figure class="cancer-image">
					<img src="css/img/cancer1.jpg">
				</figure>
			</li>
			<li class="col span-1-of-4">
				<figure class="cancer-image">
					<img src="css/img/cancer2.jpg">
				</figure>
			</li>
			<li class="col span-1-of-4">
				<figure class="cancer-image">
					<img src="css/img/cancer3.jpg">
				</figure>
			</li>
			<li class="col span-1-of-4">
				<figure class="cancer-image">
					<img src="css/img/cancer4.jpg">
				</figure>
			</li>			
		</ul>	

	</section>



	<!--Section 3: Contact   -->

	<section class="section-form" >

		<div class="row" id="contact">
			<h2> Nous Contacez</h2>
		</div>

		<div class="row">
			<form method="post" action="#" class="contact-form">

				<div class="row">
					<div class="col span-1-of-3">
						<label for="name"> Nom </label>
					</div>
					<div class="col span-2-of-3">
						<input type="text" name="name" id="name" placeholder="Votre Nom" required>
					</div>					
				</div>

				<div class="row">
					<div class="col span-1-of-3">
						<label for="prenom"> Prénom</label>
					</div>
					<div class="col span-2-of-3">
						<input type="text" name="prenom" id="prenom" placeholder="Votre Prénom" required>
					</div>					
				</div>

				<div class="row">
					<div class="col span-1-of-3">
						<label for="email"> Email </label>
					</div>
					<div class="col span-2-of-3">
						<input type="email" name="email" id="email" placeholder="Votre Email" required>
					</div>					
				</div>

				<div class="row">
					<div class="col span-1-of-3">
						<label for="message"> Message</label>
					</div>
					<div class="col span-2-of-3">
						<textarea name="message" placeholder="Ecrivez Votre Message" id="message"> </textarea>										
					</div>
				</div>

				<div class="row">
					<div class="col span-1-of-3">
						<label> &nbsp; </label>
					</div>

					<div class="col span-2-of-3">
						<input type="submit" value="Envoyer">		
					</div>
				</div>

			</form>
			
		</div>
	</section>


	<!--Section 4: Footer   -->

	<footer>
		<div class="row">
			<div class="">
				<ul class="footer-nav">
					<li><a href="#" id="acceuil"> Acceuil</a></li>
					<li><a href="#" id="information"> Informations</a></li>
					<li><a href="#" id="contact"> Contact</a></li>
					<li><a href="connection.html"> Se Connecter</a></li>
					<li><a href="inscription.html"> S'inscrire</a></li>
				</ul>			
			</div>			
		</div>


		<div class="row">
			<p>
			Copyright &copy; 2020 Par Achraf ELOUERGHI & E2SN
			</p>	
		</div>
	</footer>

	

</body>
</html>